#message-container {
  display: flex;
  padding: 3px 6px;
  margin-right: 4px;
  border-radius: 4px;



  .author {
    font-weight: 700;
  }

}

.content {
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: start;
}

#message-container:hover {
  background-color: #f1f1f1;
}