#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #ffffff;
  border: 1px solid #11205F;
  border-radius: 1vw;
  padding: 1vh;
  margin: auto;
  font-size: 12px;
  color: #0e0e10;
  min-height: 60px;
  max-height: 12vh;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
    margin: 0 !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
  }
}

#messages {
  margin-bottom: 8px;
  margin-right: 4px;
  overflow-y: auto;

}

form {
  margin-top: 4px;
  display: flex;
  gap: 4px;
}

#message {
  width: 100%;
  border-radius: 1vw;
  border: 1px solid #767676;
  padding: 0 8px;
}

.badge {
  display: flex;
  margin-right: 4px;
}

#send-button {
  background-color: #9147ff;
  border: none;
  border-radius: 1vw;
  color: white;
  font-weight: bold;
  padding: 8px 10px;
}