#register {
  background-color: #0b0012;
  color: #750de5;
  width: 100%;
  display: flex;
  flex: 1 1;
  font-family: "Chewy", system-ui;
  font-weight: 400;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

#part-1 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: white;
  height: 80vh;
}

#part-2 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  width: 40%;
  background-image: url('../../assets/background-login.png');
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative; 
  
  display: flex;
  justify-content: center; 
  align-items: center; 
}


#part-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  z-index: 1;
}


#part-2 .content {
  position: relative;
  z-index: 2; 
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  max-width: 65%; 
  margin: 0 auto;  
}

#text-div {
  width: 100%;
}

.text {
  margin: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 0.9rem;
}

.button {
  padding: 0.8rem;
  width: 100%;
  max-width: 300px;
  border-radius: 1rem;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-family: "Chewy", system-ui;
  background-color: #750de5;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #5e09b7;
}

.button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
