#main-menu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Tilt Neon", system-ui;

  Button {
    margin-top: 1rem;
  }
}

.title-main-menu {
  margin-bottom: 0;
  font-size: 2rem;
}


#modal {
  width: 30%;
  padding: 32px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  background-color: white;
  color: #9D00FF;
  font-size: 2.5vh;
}

#modal h1,
#modal h2 {
  color: #ffffff;
}

.button-menu {
  width: 50%;
  margin: 10px;
  padding: 12px;
  border: none;
  border-radius: 50px;
  font-size: 2.5vh;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: white;
}