#create-room {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/home_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title-create{
    font-family: "Chewy", system-ui;
    font-size: 2rem;
    margin: 0;
    color: #11205f;
}
.square-create-room{
    background-color: white;
    width: 50%;
    height: 70vh;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-create{
    padding: 10px;
    padding-left: 1rem;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 2rem;
    width: 30%;
    align-self: center;
    color: #333; 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    line-height: 1.5; 
}

.button-create{
    padding: 0.8rem;
    width: 30%;
    max-width: 300px;
    border-radius: 1rem;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-family: "Chewy", system-ui;
    background-color: #750de5;
    color: white;
    cursor: pointer;
}

.button-create:hover {
    background-color: #5e09b7;
  }
  
  .button-create:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }